<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <title>김시아</title>
</head>
<body>
    <div class = "container">
        <header>
            <h2>KIMSIA</h2>
            <nav>
                <ul>
                    <li><a href="#">Introduce</a></li>
                    <li><a href="#Project">Project</a></li>
                    <li><a href="#Awards">Awards</a></li>
                    <li><a href="#Volunteer_Competiton">Volunteer & Competition</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div id = "Introduce"></div>
    <div id = "Project">
        <p>Project List</p>
        <div class = "Project_container">
            {% for project in project_list %}
            <div class = "box">
                {{project.proj_date}} <br>
                {{project.proj_group}} <br>
                {{project.proj_topic}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div id = "Awards"></div>
    <div id = "Volunteer_Competition"></div>
</body>
</html>