<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
    <title>김시아</title>
</head>
<body>
    <div class = "container">
        <header>
            <h2>김시아</h2>
            <nav>
                <ul>
                    <li><a href="#">Introduce</a></li>
                    <li><a href="#Project">Project</a></li>
                    <li><a href="#Awards">Awards</a></li>
                    <li><a href="#Volunteer_Competiton">Volunteer & Competition</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div id = "Introduce"></div>
    <div id = "Project">
        <p>Project Contents List</p>
        <table>
            <th>Date</th>
            <th>Group</th>
            <th>Topic</th>
            <tr>
                <td>2018년 2학기</td>
                <td>소프트웨어공학</td>
                <td>농산물 유통 및 경작지 연결 시스템 웹앱</td>
            </tr>
            <tr>
                <td>2019년 1학기</td>
                <td>웹 프로그래밍</td>
                <td>교수 및 학생 수업 관리 시스템 웹</td>
            </tr>
            <tr>
                <td>2019년</td>
                <td>전북대학교 제 5회 아이디어 해커톤</td>
                <td>택시 예약 시스템 웹</td>
            </tr>
            <tr>
                <td>2019년</td>
                <td>한국전력공사 전력데이터 신서비스 개발 경진대회</td>
                <td>전력 사용량 확인 웹</td>
            </tr>
            <tr>
                <td>2020년</td>
                <td>광주 인공지능 사관학교</td>
                <td>외부인 감지 지능형 CCTV</td>
            </tr>
            <tr>
                <td>2020년</td>
                <td>광주 인공지능 사관학교 해커톤</td>
                <td>언택트 시대 맞춤 광주 지역 데이트 장소 추천 웹</td>
            </tr>
        </table>
        <p>Project Summary</p>
        <table>
            <tr>
                <td>Topic</td>
                <td>농산물 유통 및 경작지 연결 시스템 (반응형 웹앱)</td>
            </tr>
            <tr>
                <td>수업?</td>
                <td>소프트웨어공학</td>
            </tr>
            <tr>
                <td>개요?</td>
                <td>농산물 유통환경은 생산 및 공급 요인, 소비자 유통환경, IT 산업과 유통의 접목, 소비자 니즈 등 다양한 측면에서 급속하게 변화하고 있다. 이러한 점을 착안하여 유통과정을 축소하고 소비자는 니즈를 충족하며 생산자는 합리작인 가격에 거래할 수 있는 토지 대여 사업 시스템에 대하여 연구해 보았다.</td>
            </tr>
            <tr>
                <td>요약?</td>
                <td>농장주가 현재 사용하고 있지 않은 땅을 빌려주고 소비자가 주말농장처럼 그 땅을 가꾸거나, 농장주가 일정 금액을 미리 받고 농사를 대신 해주어 소비자가 재배된 농산물을 받는 식의 토지 대여 사업 시스템이다. 생산자는 판매를 제외한 또 다른 수입을 창출할 수 있고, 증가하는 노는 땅을 보다 실용적으로 활용할 수 있다. 유통업자는 복잡한 유통구조를 간소화하여 이윤을 창출할 수 있다. 소비자는 다양한 소비자의 니즈를 충족할 수 있고, 개인에 국한되지 않고 크게 기업까지 본다면 기업의 농업 진출에 도움이 될 수 있다. 그리고 이는 오프라인 거래처를 온라인으로 관리할 수 있다는 장점이 있다.</td>
            </tr>
        </table>
    </div>
    <div id = "Awards"></div>
    <div id = "Volunteer_Competition"></div>
</body>
</html>